save-exact=true
registry=https://r.npm.sankuai.com
disturl=https://npm.sankuai.com/dist/node
sass_binary_site=https://npm.sankuai.com/dist/node-sass
profiler_binary_host_mirror=https://npm.taobao.org/mirrors/node-inspector/
fse_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents/
